/**
* @Files
* Footer Custom Style.
*/


.footer-section {
  padding: 50px 0;
  background: #1f2024e8;
  .footer-heading {
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    color: #fff;
  }

  .footer-main-menu {
    margin: 0 -7.5px;
    padding-top: 15px;
    li {
      height: 28px;
      display: block;
      width: 100%;
      text-align: left;
      a {
        display: inline-block;
        width: auto;
        transition: font-size linear 100ms;
        position: relative;
        font-size: 12px;
        padding: 5px 6px;
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .footer-heading.branch {
    margin-bottom: 15px !important;
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
  }

  .footer-address {
    font-size: 12px;
    margin: 0;
    padding-top: 15px;
    color: #fff;
    font-weight: 600;
  }

  .footer-newsletter p {
    margin-bottom: 25px;
  }
  .footer-block {
    label {
      span {
        display: inline-block;
        max-width: 100%;
        width: 100%;

        input {
          padding: 7px 12px;
          border-radius: 4px;
          box-shadow: none;
          border: none;
          outline: none;
          width: 100%;
        }
      }
    }

    input[type="submit"] {
      background: #ea1f1f;
      border-color: #bc1919;
      font-size: 14px;
      color: #fff;
      transition: all ease-in-out 0.3s;
      border-radius: 3px;
      padding: 12px 25px;
    }

  }


}
