/**
 * @Files
 * Header Custom Style.
*/
a.navbar-brand {
    display: inline-block;
    max-width: 80px;
    margin-left: 40px;
}
.navbar {
  padding: 0 20px;
}

.navbar-nav {
  li {

    a {
      line-height:inherit;
      padding-top: 0;
      color: #777 !important;
      padding-bottom: 0;
      text-transform: capitalize;
      letter-spacing: 1px;
      padding:22px 10px 26px 33px;
      border:none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500 !important;
      font-size: 15px;
      border-top: 5px solid transparent;
      position: relative;

    }

  }
}
