/**
 * @Files
 * Inner pages Custom Style.
*/

.banner-wrapper {
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba($black, 0.6);
    @include absolute(top 0 left 0);
  }
}
.inner-pages {
  .title-heading {
    margin-top: 0;
    padding-top: 0;
  }
}
/* About feture section */
.feture-section {
  &_inner {
    padding: rem(35) 0 0 0;
    background: url(../images/classroom-img.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba($black, .54);
      @include absolute(left 0 top 0 z-index 0);
    }
    h2 {
      position: relative;
      padding-bottom: rem(28);
      margin-bottom: rem(30);
      text-align: center;
      @include fontSize(30);
      &:after {
        content: '';
        width: 60px;
        margin-left: rem(-30);
        height: rem(3);
        background-color: $site-red;
        -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        -o-transform: skewX(-45deg);
        -moz-transform: skewX(-45deg);
        transform: skewX(-45deg);
        @include absolute(left 50% bottom 0 z-index 0);
      }
    }
    h2, h5, p {
      color: $white;
    }
    &__item {
      position: relative;
      transition: all linear 700ms;
      z-index: 1;
      &:first-child {
        &:hover {
          background-color: rgba(173, 195, 145, .44);
        }
      }
      &:last-child {
        &:hover {
          background-color: rgba(195, 167, 145, .44);
        }
      }
      > .media {
        padding: rem(60) rem(60) rem(60) rem(15);        
      }
      h5 {
        font-weight: normal;
        padding-bottom: rem(10);
        padding-top: rem(5);
        word-wrap: break-word;
      }
      p {
        line-height: 1.6em;
        margin-bottom: rem(20);
        @include fontSize(17);
      }
      .icon-box {
        color: $site-red;
        font-size: 36px;
      }
    }
  }
}
/* Result list */
.result-gallery {
  &_items {
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }
  &_item {
    margin: 0 rem(16) rem(16) 0;
    @include media-breakpoint-up(sm) {
      width: calc((100% - 64px)/5);
      margin-bottom: rem(30);
      margin-right: rem(16);
      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    figure {
      max-width: rem(153);
      max-height: rem(176);
    }
  }
}

/* Topper List */
.toppers-section {
  &_items {
    padding: rem(10) 0;
    border-bottom: 1px solid $gray-100;
    margin-bottom: rem(25);
    @include flex(center, center);
  }
  &_image {
    min-width: rem(100);
    width: rem(100);
    padding: rem(10);
    box-shadow: 1px -1px 7px #ddd;
    margin-right: rem(20);
  }
}