@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $gray-500;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: none;
  font-weight: 600;
}

h1, .h1 {
  font-weight: 700;
  @include fontSize(40);
}
h5, .h5 {
  font-weight: 600;
  @include fontSize(18);
}

p {
  margin-bottom: rem(20);
  @include fontSize(17);
}
