/*
 * Breadcrumb Style.
*/
.breadcrumb-section {
  background-color: $lightgray;
  margin-bottom: rem(20);
  .breadcrumb {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    a {
      color: $grey;
    }
    &-item {
      &.active {
        color: $site-red;
        font-size: 12px;
      }
    }
  }
}