.coaching-system {

  &__wrapper {
    border: 2px solid #64686d;
  }

  h5 {
    color: white;
background: #ea1f1f;
padding: 10px 15px;
font-size: 14px;
font-weight: 700;
text-align: center;
  }
  figure {
    margin: 1em 0;
    img {
      height: 220px;
width: 100%;
margin: 0 auto;
max-width: 254px;
    }
}

p {
  color: #000;
padding: 2px 0;
font-size: 14px;
font-weight: 700;
}
}
