.course-section {
  padding: 100px 0;
  background: url(../images/course-background.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000040;
  }

  .course-card {
    background: #ffffff;
    text-align: center;
    position: relative;
    transition: all .5s ease-in;
    height: auto;
    a {
      display: block;
      text-decoration: none;
      padding: 30px;
      .course-icon {
        i {
          font-size: 45px;
color: #dd3333;
margin-bottom: 15px;

        }
      }
      h4 {
        font-size: 18px;
font-weight: bold;
margin-top: 25px;
color: #808080;
      }
    }
  }
}
