.exam-notification {
  padding: 80px 0;
background-color: rgba(255, 225, 202, .3);


  .notif-slider {
    .notif-item {
      padding: 25px;
    box-shadow: -1px 0px 5px 3px rgba(219, 219, 219, 1);
    cursor: pointer;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(249, 226, 199, .49);
    transition: transform ease-in-out 300ms, box-shadow ease-in-out 600ms;
    position: relative;
    height: auto;

    h3 {
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 14px;
      color: #000;

    }
    p {
      font-size: 14px;
    }
    a {
      color: #dd3333;
font-weight: bold;
text-transform: uppercase;
font-size: 14px;
display: block;
margin-top: auto;
    }


&:before {
  content: "";
position: absolute;
right: 0;
top: 0;
width: 1px;
height: 1px;
border: 10px solid #ea1f1f;
border-bottom: 10px solid transparent;
border-left: 10px solid transparent;
}

&:hover {

    transform: translate(-0px, -10px) scale(1.1);
    box-shadow: 0px 4px 10px 8px rgba(219, 219, 219, 1);
}


    }
  }

  .slick-track {
    top: 10px;
padding: 50px 0;
display: -webkit-box !important;
    display: -moz-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .slick-slide {
    margin: 0px 20px;
}

.slick-dots {
  li {
    &.slick-active {
      button {
            opacity: 1;
      }
    }
  }
  button {
    width: 25px;
height: 4px;
background-color: #dd3333;
text-align: center;
margin: 0px 5px;
border-radius: 27px;
opacity: 0.4;
padding: 2px;
  }
}

}

.second-title-heading {
  font-size: 36px;
line-height: 1.5;
font-weight: 500;
color: #64686d;
margin-bottom: 40px;
position: relative;
&::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background-color: #dd3333;
    margin-top: 6px;
    bottom: 0;
}
}
