.home-slider {
  // overflow: hidden;
  // text-align: center;
  img {
    width: 100%;
  }

  .slick-dots {
    bottom: 30px;
    li {
      button {
        &:before {
          font-size: 60px;
          opacity: 1;
          color: #ffffff;
      }
    }
    &.slick-active {
      button {
        &:before {
          color: red;
      }
    }
    }
  }
}


}
img {
  width: 100%;
  text-align: center;
}
