.title-heading {
      margin: 25px 0;
      padding-bottom: 20px;
      position: relative;
      color: #64686d;
      text-align: left;
      &::before {
          content: "";
          position: absolute;
          display: block;
          width: 40px;
          height: 2px;
          background-color: #dd3333;
          margin-top: 6px;
          bottom: 0;
      }
}


.class-type {
  margin-bottom: 50px;
  img {
    height: 100%;
    max-height: 400px;
    cursor: pointer;
    transition: transform linear 600ms;
    &:hover {
      transform: scale(1.1);
    }
  }
}
