/**
 * @Files
 * Variables Style.
 */

// font families
$font-koliko: 'kolikoRegular', sans-serif !default;
$font-kolikoThin: 'kolikoThin', sans-serif !default;
$font-kolikoBold: 'kolikoBold', sans-serif !default;
$font-neusa: 'neusaregular', serif !default;
$font-open: Open Sans;

// font Variable
$font-size-base: rem(16); // Assumes the browser default, typically `16px`
$font-weight-normal: normal;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

/* Colors */
$white:       #ffffff;
$black:       #000000;
$green:       #09FF12;
$lightGreen:  #70FF75;
$blue:        #2333FF;
$grey:        #333333;
$amethyst:    #AC67D2;
$red:         #D43049;
$site-red:    #dd3333;
$lightgray:   #f5f5f5;
$gray-100:    #dfdfdf;
$gray-500:    #64686d;
